* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

.body {
    background: linear-gradient(
        81deg,
        #e7f0ff 9.01%,
        rgba(232, 241, 255, 0.47) 89.11%
      );
}

.sticky {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
  width: 100%;
  height: 40px;
  background: rgba(42, 167, 255, 1);
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: 5px;
}
.navbar {

  background: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.topnav {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;

}
.hero {
  background: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );
  width: 100%;
  height: 832;
  padding: 20px;

}

.searchpart {
  width: 50%;
  height: 429;
  top: 530px;
  left: 135px;
  border-width: 1px;
  box-shadow: 6px 6px 35px 0px rgba(16, 40, 81, 0.11);
  border: 1px solid #f0f0f0;
    display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: white;
}



.doctorCard {
  width: 786px;
  height: 268px;
  gap: 14px;
  border-radius: 15px;
  padding: 24px;
  background: #ffffff;
  box-shadow: 6px 6px 35px 0px rgba(16, 40, 81, 0.11);
  border: 1px solid #f0f0f0;
  padding-top: 20px;
}

